$colors: (
	'red': #f44336,
	'pink': #e91e63,
	'purple': #9c27b0,
	'deep-purple': #673ab7,
	'indigo': #3f51b5,
	'blue': #2196f3,
	'light-blue': #03a9f4,
	'cyan': #00bcd4,
	'teal': #009688,
	'green': #4caf50,
	'light-green': #8bc34a,
	'lime': #cddc39,
	'yellow': #ffeb3b,
	'amber': #ffc107,
	'orange': #ff9800,
	'deep-orange': #ff5722,
	'brown': #795548,
	'blue-grey': #607d8b,
	'grey': #9e9e9e,
	'white': #fff,
	'black': #000,
);

@each $k, $v in $colors {
	.#{'' + $k} {
		background-color: $v;
		@if $k != 'white' and $k != 'black' {
			@for $n from 1 to 5 {
				&.lighten-#{$n} {
					background-color: lighten($v, $n * 5);
				}
				&.darken-#{$n} {
					background-color: darken($v, $n * 5);
				}
			}
		}
	}
	.text--#{'' + $k} {
		color: $v;
		@if $k != 'white' and $k != 'black' {
			@for $n from 1 to 5 {
				&.text--lighten-#{$n} {
					color: lighten($v, $n * 5);
				}
				&.text--darken-#{$n} {
					color: darken($v, $n * 5);
				}
			}
		}
	}
}
