.text-h1 {
  font-size: 6rem;
}

.text-h2 {
  font-size: 3.75rem;
}

.text-h3 {
  font-size: 3rem;
}

.text-h4 {
  font-size: 2.125rem;
}

.text-h5 {
  font-size: 1.5rem;
}

.text-h6 {
  font-size: 1.25rem;
}

.body-1 {
  font-size: 1rem;
  font-weight: lighter;
}

.body-2 {
  font-size: .875rem;
}

.sub-title-1 {
  font-size: 1rem;
}

.sub-title-2 {
  font-size: .875rem;
}

.caption {
  font-size: .75rem;
}

.overline {
  font-size: .75rem;
  font-weight: bold;
}

.font-weight-bold {
  font-weight: 900!important;
}

.font-weight-regular {
  font-weight: 400!important;
}

.font-weight-thin {
  font-weight: 100!important;
}

.font-italic{
  font-style: italic!important;
}

@each $v in $horizontal-values {
  .text-#{$v} {
    text-align: $v;
  }
}
