$primary: #6200ee;
$primary-variant: #3700b3;
$secondary: #03dac6;
$secondary-variant: #018786;
$background: map-get($colors, 'white');
$surface: map-get($colors, 'white');
$error: #c51162;

$text-on-primary: map-get($colors, 'white');
$text-on-secondary: map-get($colors, 'black');
$text-on-background: map-get($colors, 'black');
$text-on-surface: map-get($colors, 'black');
$text-on-error: map-get($colors, 'white');

$horizontal-values: left, center, right;