// .menu {
//   // display: flex;
//   // flex-direction: column;
//   padding: .75rem .75rem;
//   &-vertical{
//     border-right: 1px solid rgba(0,0,0,.06);
//   }
//   .sub-menu{
//     &-children{
//       // padding: 0 1.5rem;
//       background-color: #fafafa;
//       // .menu-item-group{
//       //   .menu-item{
//       //     padding: 0;
//       //   }
//       // }
//     }
//     &-selected{
//       .sub-menu-title{
//         color: $primary;
//       }
//     }
//   }
//   .menu-item-group{
//     &-title{
//       // margin-left: -.75rem;
//       color: $gray-600;
//     }
//     .menu-item{
//       // padding: 0 .75rem;
//     }
//   }
//   .menu-item{
//     // padding: .75rem .75rem;
//     &-selected{
//       color: $primary;
//     }
//   }
// }