$border-radius-root: 0.25rem;

$rounded: (
	0: 0,
	'sm': calc($border-radius-root / 2),
	null: $border-radius-root,
	'lg': calc($border-radius-root * 2),
	'xl': calc($border-radius-root * 6),
	'pill': 9999px,
	'circle': 50%,
);

.rounded {
	border-radius: $border-radius-root;
}

@each $k, $v in $rounded {
	$radiusValue: map-get($rounded, $k);
	@if $k != null {
		.rounded-#{$k} {
			border-radius: $radiusValue;
		}
	}
	@if $k != null and $k != 'pill' and $k != 'circle' {
		.rounded-tl-#{$k} {
			border-top-left-radius: $radiusValue;
		}
		.rounded-tr-#{$k} {
			border-top-right-radius: $radiusValue;
		}
		.rounded-bl-#{$k} {
			border-bottom-left-radius: $radiusValue;
		}
		.rounded-br-#{$k} {
			border-bottom-right-radius: $radiusValue;
		}
		.rounded-t-#{$k} {
			@extend .rounded-tl-#{$k};
			@extend .rounded-tr-#{$k};
		}
		.rounded-r-#{$k} {
			@extend .rounded-tr-#{$k};
			@extend .rounded-br-#{$k};
		}
		.rounded-b-#{$k} {
			@extend .rounded-bl-#{$k};
			@extend .rounded-br-#{$k};
		}
		.rounded-l-#{$k} {
			@extend .rounded-tl-#{$k};
			@extend .rounded-bl-#{$k};
		}
	}
}
