// .alert {
//   display: flex;
//   flex-direction: column;
//   padding: .75rem .75rem;
//   &.alert-success {
//     @include alert-style($green);
//   }
//   &.alert-info {
//     @include alert-style($blue);
//   }
//   &.alert-warning {
//     @include alert-style($yellow);
//   }
//   &.alert-danger {
//     @include alert-style($red);
//   }
//   .alert-header {
//     display: flex;
//     justify-content: space-between;
//   }
//   .alert-close{
//     cursor: pointer;
//   }
// }